body {
  background-color:#333;
}

h2 {
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.playerWrapper {
  display: block;
}

.controllerWrapper {
  display: block;
}

.volumeText {
  color: white; margin-left: 10px;
}

.likeUnlike {
  margin-left: 5px
}

.playlistItem {
  margin-right: 2em;
}

.media-video {
	width: 800px;
}

.media-player {
	float:left;
	padding:1em 1em;
	height: 700px;
}

/* management page*/
.management {
  background-color:#F0F0F0;
  padding: 30px;
}

label {
  color: white;
}

.actions-container {
  display: flex;
}

.action {
  margin-right: 10px;
}
