@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

body {
  background-color:#333;
}

h2 {
  margin-top: 30px;
  margin-left:20px;
  color: white;
}
